.system_manage_page {
    position: relative;
    background: #000;
    height: 1200px;
    width: 100%;
    .header {
        display: flex;
        align-items: center;
        padding-top: 20px;
        position: relative;
        .header_left {
            width: 33%;
            height: 50px;
            margin-left: 15px;
            border-top: 1px solid #DDC128;
            .left_three_btn {
                display: flex;
                justify-content: space-between;
                margin-top: 12px;
                margin-left: 30px;
                .active {
                    color: #000000 !important;
                    background: #E0BC25;
                }
                .monitoring_btn {
                    font-size: 14px;
                    text-align: center;
                    line-height: 30px;
                    margin-right: 10%;
                    color: #FFFFFF;
                    width: 20%;
                    height: 30px;
                }
            }
        }
        .header_left:before {
            content: '';
            display: block;
            position: absolute;
            width: 0px;
            height: 0px;
            left: 6px;
            top: 15px;
            border-radius: 50%;
            border: 5px dashed #E0BC25;
        }
        .header_left:after {
            content: '';
            display: block;
            position: absolute;
            width: 0px;
            height: 0px;
            left: 33.5%;
            top: 15px;
            border-radius: 50%;
            border: 5px dashed #E0BC25;
        }
        .header_center {
            width: 33%;
            height: 50px;
            font-size: 20px;
            font-family: NotoSansHans-Light;
            font-weight: 300;
            color: rgba(20, 41, 117, 1);
            background: #DDC128;
            text-align: center;
            line-height: 50px;
        }
        .header_right {
            width: 22%;
            height: 50px;
            position: relative;
            border-top: 1px solid #DDC128;
            display: flex;
            justify-content: space-between;
            .right_two_btn {
                display: flex;
                justify-content: space-between;
                margin-top: 12px;
                margin-right: 30px;
                width: 100%;
                .active {
                    color: #000000 !important;
                    background: #E0BC25;
                }
                .monitoring_btn {
                    font-size: 14px;
                    text-align: center;
                    line-height: 30px;
                    margin-right: 10%;
                    color: #FFFFFF;
                    margin-left: 10%;
                    width: 50%;
                    height: 30px;
                }
            }
        }
        .header_right:before {
            content: '';
            display: block;
            position: absolute;
            width: 0px;
            height: 0px;
            right: 0;
            top: -5px;
            border-radius: 50%;
            border: 5px dashed #E0BC25;
        }
        .header_right:after {
            content: '';
            display: block;
            position: absolute;
            top: -5px;
            left: -5px;
            width: 0px;
            height: 0px;
            border-radius: 50%;
            border: 5px dashed #E0BC25;
        }
        .monitoring_date {
            position: absolute;
            font-size: 13px;
            right: 6%;
            top: 10px;
            font-family: NotoSansHans-Regular;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
        }
    }
    .page_center {
        margin-top: 50px;
        margin-left: 45px;
        margin-right: 6%;
        table {
            border-collapse: collapse;
            text-align: center;
        }
        table > tr{
            height: 30px;
        }
        table,
        td,
        th {
            border: 1px solid #E0BC25;
        }
        tr>td {
            // width: 25%;
            color: #fff;
            font-size: 9px;
        }
        th {
            color: #fff;
            font-size: 9px;
        }
        .top_title_display {
            display: flex;
            justify-content: space-between;
            .orgnazition_title {
                color: #FFDE29;
                font-size: 9px;
                height: 40px;
                line-height: 40px;
            }
            .submit_btn {
                margin-right: 10px;
                height: 20px;
                width: 80px;
                line-height: 20px;
                text-align: center;
                padding: 10px;
                background: linear-gradient(90deg, rgba(188, 72, 1, 1), rgba(243, 204, 23, 1));
                border-radius: 4px;
                cursor: pointer
            }
        }
        .bottom_title_display{
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          .orgnazition_title {
              color: #FFDE29;
              font-size: 9px;
              height: 40px;
              line-height: 40px;
              width: 80%;
          }
          .add_btn,.del_btn {
            margin-right: 10px;
            height: 20px;
            width: 80px;
            line-height: 20px;
            text-align: center;
            padding: 10px;
            background: linear-gradient(90deg, rgba(188, 72, 1, 1), rgba(243, 204, 23, 1));
            border-radius: 4px;
            cursor: pointer
        }
        }
        .table_container {
          display: flex;
            .left_table {
              width: 30%;
              .three_tree_level{
                color: #E0BC25;
              }
              .light_type{
                  margin-top: 20px;
                  border: 1px solid #E0BC25;
                  height: 450px;
                  color: #E0BC25;
                  .top_add_del{
                      width: 80%;
                      margin: 20px 10%;
                      display: flex;
                      justify-content: space-between;
                      ._add_light, ._del_light{
                            text-align: center;
                            line-height: 40px;
                            font-size: 9px;
                            height: 40px;
                            width: 100px;
                            color: #010101;
                            background:linear-gradient(90deg,rgba(188,72,1,1),rgba(243,204,23,1));
                            border-radius:2px;
                      }
                  }
                  .light_table_list{
                    width: 80%;
                    height: 300px;
                    overflow-y: scroll;
                    margin: 20px 10%;
                    .list_head{
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        border:1px solid #E0BC25;
                        background: #FFDE29;
                        color: #000;
                    }
                    .light_item{
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        border:1px solid #E0BC25;
                        border-top: none;
                        color: #fff;
                    }
                  }
              }
            }
            .right_table{
              width: 70%;
              margin-top: 20px;
              padding: 10px 0;
              border: 1px solid #E0BC25;
              border-left: none;
                .table_list {
                    width: 98%;
                    margin: 0 10px;
                    border: 1px solid #E0BC25;
                    th{
                      color: #fff;
                    }
                    .opration_table {
                        .opration_btn {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            margin: 5px 0px;
                            ._record {
                                width: 60px;
                                height: 12px;
                                background: #E62129;
                                font-size: 8px;
                                padding: 4px;
                                border-radius: 2px;
                                line-height: 12px;
                            }
                            .history_data {
                                width: 60px;
                                height: 12px;
                                border-radius: 2px;
                                line-height: 12px;
                                padding: 4px;
                                background: #56AAB7;
                                font-size: 8px;
                            }
                        }
                    }
                }
                .divide_pages{
                  border: 1px solid #E0BC25;
                  margin: 0px 13px 0 10px;
                  padding-top: 10px;
                  height: 60px;
                  border-top: none;
                  .pageing{
                    color: #fff;
                    font-size: 8px;
                    padding: 10px;
                  }
                }
            }
        }
      }
    }