.login_pages{
  background-image: url('../../assets/images/bg_index.png');
  width:100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .login_title{
    text-align: center;
    padding-top: 66px;
    font-size:36px;
    font-family:NotoSansHans-Thin;
    font-weight:100;
    color:rgba(248,231,46,1);
    background:linear-gradient(0deg,rgba(255,181,23,1) 0%, rgba(255,236,23,1) 49.3896484375%, rgba(255,181,23,1) 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
  }
  .login_form{
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    width:340px;
    height:260px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 7px 2px rgba(2,18,44,0.66);
    border-radius:2px 3px 3px 2px;
    .login_usename{
      display: flex;
      justify-content: space-between;
      margin: 0px 40px;
      padding: 30px 0 10px 0;
      border-bottom: 1px solid #f4f4f4;
      ._name{
        font-size:14px;
        font-family:NotoSansHans-Light;
        font-weight:300;
        color:rgba(66,66,66,1);
      }
      ._field>input{
        border: 1px solid #f4f4f4;
        height: 30px;
        width: 100%;
      }
    }
    .login_btn{
      margin: 0 auto;
      margin-top: 30px;
      text-align: center;
      line-height: 44px;
      width: 92px;
      height: 44px;
      background:linear-gradient(90deg,rgba(216,101,16,1),rgba(160,19,9,1));
      border-radius:2px 3px 3px 2px;
      font-size:9px;
      font-family:NotoSansHans-Light;
      font-weight:300;
      color:rgba(255,255,255,1);
    }
    .login_btn:hover{
      cursor: pointer;
    }
  }
  .login_footer{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10px;
    // left: calc(50%-250px);
    text-align: center;
    font-size:8px;
    font-family:NotoSansHans-Light;
    font-weight:300;
    color:rgba(255,255,254,1);
    
  }
}