.monitoring_page{
  background: #000;
  height: 1250px;
  width: 100%;
  .header{
    display: flex;
    align-items: center;
    padding-top: 20px;
    position: relative;
    .header_left{
      width: 33%;
      height: 50px;
      margin-left: 15px;
      border-top: 1px solid #DDC128;
      .left_three_btn{
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        margin-left: 30px;
        .active{
          color: #000000 !important;
          background: #E0BC25;
        }
        .monitoring_btn{
          font-size: 0.875rem;
          text-align: center;
          line-height: 30px;
          margin-right: 10%;
          color: #FFFFFF;
          width: 20%;
          height: 30px;
        }
      }
    }
    .header_left:before{
      content: '';
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      left: 6px;
      top: 15px;
      border-radius: 50%;
      border: 5px dashed #E0BC25;
    }
    .header_left:after{
      content: '';
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      left: 33.5%;
      top: 15px;
      border-radius: 50%;
      border: 5px dashed #E0BC25;
    }
    .header_center{
      width: 33%;
      height: 50px;
      font-size:1.25rem;
      font-family:NotoSansHans-Light;
      font-weight:300;
      color:rgba(20,41,117,1);
      background: #DDC128;
      text-align: center;
      line-height: 50px;
    }
    .header_right{
      width: 22%;
      height: 50px;
      position: relative;
      border-top: 1px solid #DDC128;
      display: flex;
      justify-content: space-between;
      .right_two_btn{
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        margin-right: 30px;
        width: 100%;
        .monitoring_btn{
          font-size: 0.875rem;
          text-align: center;
          line-height: 30px;
          margin-right: 10%;
          color: #FFFFFF;
          width: 50%;
          height: 30px;
        }
      }
    }
    .header_right:before{
      content: '';
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      right: 0;
      top: -5px;
      border-radius: 50%;
      border: 5px dashed #E0BC25;
    }
    .header_right:after{
      content: '';
      display: block;
      position: absolute;
      top: -5px;
      left: -5px;
      width: 0px;
      height: 0px;
      border-radius: 50%;
      border: 5px dashed #E0BC25;
    }
    .monitoring_date{
      position: absolute;
      font-size:0.8125rem;
      right: 6%;
      top: 10px;
      font-family:NotoSansHans-Regular;
      font-weight:400;
      color:rgba(255,255,255,1);
    }
  }
  .page_center{
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 6%;
    .top_title_display{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #EDEDED;
      width: 100%;
      height: 50px;
      ._left{
        font-size: 0.75rem;
        width: 20%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #4D5AA2;
      }
      ._center{
        font-size: 0.75rem;
        width: 20%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #4D5AA2;
      }
      ._right{
        font-size: 0.75rem;
        width: 50%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #4D5AA2;
      }
    }
    .echart_content{
      margin-top: 20px;
      color: #E0BC25;
      display: flex;
      justify-content: space-between;
      .full_left_container{
        // 左侧全部信息
        width: 80%;
        ._left_top{
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          .statistics_container{
            width: 20%;
            .statistics_classification{
              // 终端分类统计
              padding: 10px 0;
              color: #E0BC25;
              width: 100%;
              border: 1px solid #E0BC25;
              margin-bottom: 5%;
              height: 350px;
            }
            .statistics_status{
              //终端状态比例
              padding: 10px 0;
              border: 1px solid #E0BC25;
              height: 350px;
            }
          }
          .platform_distribution{
            //平台数据分布
            padding: 10px 0;
            border: 1px solid #E0BC25;
            width: 70%;
            margin-right: 5%;
            height: 736px;
          }
        }
        ._left_bottom{
          // 监控列表
          border: 1px solid #E0BC25;
          margin-right: 5%;
          height: 250px;
          overflow-y: scroll;
          .table_title{
            width: 98%;
            margin: 0 1%;
            margin-top: 5px;
            height: 30px;
            background: #E0BC25;
            color: black;
            text-align: center;
            line-height: 30px;
            font-size: 0.875rem;
          }
          .table_list{
            width: 98%;
            margin: 0 1%;
            border: 1px solid #E0BC25;
            .opration_table{
              .opration_btn{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 5px 0px;
                ._record{
                  width: 60px;
                  height: 12px;
                  background: #E62129;
                  font-size: 0.5rem;
                  padding: 4px;
                  border-radius: 2px;
                  line-height: 12px;
                }
                .history_data{
                  width: 60px;
                  height: 12px;
                  border-radius: 2px;
                  line-height: 12px;
                  padding: 4px;
                  background: #56AAB7;
                  font-size: 0.5rem;
                }
              }
              
            }
          }
        }
      }
      table{
        border-collapse: collapse;
        text-align: center;
      }
      table, td, th {
        border: 1px solid #E0BC25;
      }
      tr>td{
        color: #f4f4f4;
        font-size: 0.5625rem;
      }
      th{
        color: #FF6421;
        font-size: 0.5625rem;
      }
      .full_right_container{
        // 右侧告警信息
        width: 20%;
        border: 1px solid #E0BC25;
        padding: 10px 0;
        .head_title{
          font-size:0.875rem;
          color: #FFDE29;
          text-align: center;
        }
        .alarm_info{
          .circle{
            position: relative;
            box-sizing: border-box;
            .big{
              width: 80px;
              height: 40px;
              // border: 5px solid #E60012;
              border-bottom: none;
              border-radius: 50% 50% 0 0/100% 100% 0 0;
              position: absolute;
              margin: auto;
              text-align: center;
              line-height: 52px;
              font-size: 0.5625rem;
              top: 24px;
              box-sizing: border-box;
            }
            .small{
              width: 90px;
              height: 90px;
              border: 3px solid #DDC128;
              border-radius: 50%;
              position: absolute;
              margin: auto;      // 以下五个属性为水平垂直居中的方法
              top: 20px;
              box-sizing: border-box;
              text-align: center;
              line-height: 120px;
              color: #EDEDED;
              font-size: 0.5625rem;
            }
          }
        }
        .alarm_list{
          text-align: center;
          margin-top: 140px;
          height: 840px;
          overflow-y: scroll;
          .alarm_item{
            width: 90%;
            margin:10px 5%;
            border: 1px solid #DDC128;
            .alarm_address_time{
              margin: 5px;
              display: flex;
              justify-content: space-between;
              ._address{
                color: #E60012;
                font-size: 0.5rem;
              }
              ._time{
                font-size: 0.5rem;
                color: #9e9e9e;
              }
            }
            .address_detail{
              margin: 5px;
              font-size: 6px!important;
              // font-size: xx-small;
              color: #d3d4d5;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}